/* Cấu hình Style cho các section và phần tử trong search list item (từng khách sạn trong danh sách */
.searchListItem {
  padding: 12px;
  display: flex;
  gap: 24px;
  border: 1.5px solid #cecece;
  width: 100%;
  border-radius: 6px;
  height: 280px;
}
.searchListItem img {
  width: 25%;
  object-fit: cover;
  height: 100%;
}
/*-- Điều chỉnh style cho các element bên trong thẻ div có class detail */
.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}
.details h3 {
  font-size: 24px;
  color: #1971c2;
}
.tag {
  border: 1px solid transparent;
  background-color: #2b8a3e;
  color: white;
  align-self: start;
  border-radius: 6px;
  padding: 4px;
}
.description {
  font-weight: bold;
}
.cancel {
  font-weight: bold;
  color: #2f9e44;
}
.cancel__text {
  color: #2f9e44;
}
/* --------------------*/
.moreInfors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.rateandtext {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}

.ratetext {
  font-size: 16px;
  padding: 4px;
  color: white;
  border: 1px solid transparent;
  background-color: #133c89;
  padding: 4px;
}
.priceandbook {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}
.price {
  font-size: 28px;
  font-weight: 500;
}
.taxfee {
  color: #868e96;
}
.priceandbook button {
  font-weight: 700;
  font-size: 18px;
  padding: 12px 28px;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #1c7ed6;
}
